# מטלה מספר 5

# REGEX

In [23]:
#Create a folder in google's cloud for my stuff
!mkdir /root/.kaggle/

mkdir: cannot create directory ‘/root/.kaggle/’: File exists

In [24]:
import json
import os

# Installing the Kaggle package
!pip install kaggle 

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
api_token = {"username":"shaharoded","key":"47649d0e189bb2974572b495b853facb"}

# creating kaggle.json file with the personal API-Key details 
# You can also put this file on your Google Drive
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [25]:
# searching for the dataset
!kaggle datasets list -s blog

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                     title                                             size  lastUpdated          downloadCount
------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------
rtatman/blog-authorship-corpus                          Blog Authorship Corpus                           290MB  2017-08-15 21:20:54           6081
kaggle/kaggle-blog-winners-posts                        Kaggle Blog: Winners' Posts                      519KB  2016-09-21 02:21:21            730
lakritidis/identifying-influential-bloggers-techcrunch  Identifying Influential Bloggers: Techcrunch     112MB  2020-03-30 19:22:09            934
saurabhbagchi/sample-blog-corpus                        Sample Blog Corpus                               290MB  2021-02-28 12:20:26             59
alexgude/california-traffic-collision-data-from-switrs  California Traffic Collision Data from SWITRS      1GB  2021-08-29 16:42:35           3631
jessemostipak/hotel-booking-demand                      Hotel booking demand                               1MB  2020-02-13 01:27:20          61103
wpncrh/marginal-revolution-blog-post-data               Marginal Revolution Blog Post Data                 6MB  2016-09-18 03:26:10            241
kashnitsky/mlcourse                                     mlcourse.ai                                       51MB  2018-12-09 16:45:09          27594
clorichel/boat-types-recognition                        Boat types recognition                           842MB  2018-11-17 20:55:43           4583
ozgurdogan646/blog-or-not-dataset                       Blog or Not Dataset                                2MB  2021-07-05 10:56:31              9
vishalsubbiah/pokemon-images-and-types                  Pokemon Image Dataset                              2MB  2018-12-17 01:01:39          12998
crmercado/tweets-blogs-news-swiftkey-dataset-4million   Tweets Blogs News - Swiftkey Dataset 4million      1GB  2017-12-06 15:42:31            781
glushko/seth-godins-blogs-dataset                       Seth Godin's Blog Dataset                          4MB  2020-05-17 19:46:10             43
dorianlazar/medium-articles-dataset                     Medium articles dataset                            1GB  2020-06-30 14:13:56           3321
christianlillelund/donald-trumps-rallies                Donald Trump Rally Speeches                      720KB  2020-09-26 10:25:08           2865
alexattia/the-simpsons-characters-dataset               The Simpsons Characters Data                       1GB  2018-04-13 22:55:01          15959
xhlulu/efficientnet-keras-source-code                   EfficientNet Keras Source Code                   769KB  2021-11-10 13:21:49            644
fmejia21/demographics-of-academy-awards-oscars-winners  Demographics of Academy Awards (Oscars) Winners   20KB  2020-02-04 17:38:26           3926
kimjihoo/coronavirusdataset                             [NeurIPS 2020] Data Science for COVID-19 (DS4C)    7MB  2020-07-13 14:07:31          93100
fournierp/captcha-version-2-images                      CAPTCHA Images                                    17MB  2019-02-27 03:04:17           8436

In [26]:
# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/blog

# download the dataset from Kaggle and unzip it
!kaggle datasets download rtatman/blog-authorship-corpus  -f blogtext.csv -p ./datasets/blog/

mkdir: cannot create directory ‘./datasets’: File exists
Downloading blogtext.csv.zip to ./datasets/blog
 98% 284M/290M [00:11<00:00, 23.5MB/s]
100% 290M/290M [00:11<00:00, 27.4MB/s]

In [27]:
#Unzip 
!unzip ./datasets/blog/blogtext.csv.zip  -d ./datasets/blog/

Archive:  ./datasets/blog/blogtext.csv.zip
  inflating: ./datasets/blog/blogtext.csv

In [28]:
#pick libraries I want to use
import pandas as pd
import numpy as np
import regex as re
import datetime as dt

# חלק א' - נתוני פוסטים של בלוגרים

In [29]:
#create objects to work on (tables) - paste the link of the files from the folder in the left
blogtext = pd.read_csv("/content/datasets/blog/blogtext.csv")
blogtext

             id  ...                                               text
0       2059027  ...             Info has been found (+/- 100 pages,...
1       2059027  ...             These are the team members:   Drewe...
2       2059027  ...             In het kader van kernfusie op aarde...
3       2059027  ...                   testing!!!  testing!!!
4       3581210  ...               Thanks to Yahoo!'s Toolbar I can ...
...         ...  ...                                                ...
681279  1713845  ...         Dear Susan,  I could write some really ...
681280  1713845  ...         Dear Susan,  'I have the second yeast i...
681281  1713845  ...         Dear Susan,  Your 'boyfriend' is fuckin...
681282  1713845  ...         Dear Susan:    Just to clarify, I am as...
681283  1713845  ...         Hey everybody...and Susan,  You might a...

[681284 rows x 7 columns]

# שאלה 1
איזה מזל משתמש הכי הרבה במילים בעלות 8 אותיות או מספרים ומעלה

In [30]:
#first Ill create a function that I can apply to the table
def long_word_counter(text):
  pattern = re.compile("(\w+)")
  new_text_list = pattern.findall(text)
  counter = 0
  for word in new_text_list:
    if len(word) >= 8:
        counter = counter + 1
  return counter
#next - Ill apply my function on a copy of the table to create a new column       
tweets = blogtext[['id','topic','sign','date','text']]
tweets['num_of_long_words'] = tweets.text.apply(long_word_counter)
#now that I have a table with the amount of long words each used, Ill use groupby table
tweets_groupby = tweets.groupby(tweets['sign'],as_index = False)['num_of_long_words'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [31]:
max_value = tweets_groupby['num_of_long_words'].max()
talented_sign_in_table = tweets_groupby[tweets_groupby.num_of_long_words == max_value]
talented_sign = ""
for i in talented_sign_in_table.sign:
  talented_sign = str(i)
#And final print
print("The sign who posted texts with the greatest amount of long words is: " + talented_sign)

The sign who posted texts with the greatest amount of long words is: Cancer

# שאלה 2
חשב כמה פוסטים פורסמו בכל יום של השבוע

In [32]:
#first I want to split the dates to day, month, year, and append it to a side list
post_dates_list = []
for i in tweets.date:
  post_dates_list.append(i)

#next, Ill go over the list to create 3 lists of day,month,year
day = []
month = []
year = []
for i in post_dates_list:
  day.append(i[:2])
  year.append(i[-4:])
  month.append(i[3:-5])
print(set(month))

{'abril', '', 'februarie', 'Juuli', 'octobre', 'Junho', 'augusti', 'juillet', 'Abril', 'septiembre', 'giugno', 'avril', 'July', 'maj', 'agosto', 'juin', 'Juni', 'ianuarie', 'luglio', 'Setembro', 'February', 'Januar', 'October', 'May', 'lipanj', 'September', 'Maio', 'mei', 'czerwiec', 'April', 'elokuu', 'Juli', 'Agosto', 'Dezembro', 'December', 'Avgust', 'mars', 'octubre', 'Februar', 'August', 'mai', 'desember', 'Juuni', 'lipiec', 'Outubro', 'septembre', 'mayo', 'novembre', 'toukokuu', 'Novembro', 'august', 'febrero', 'noviembre', 'ottobre', 'Mai', 'noiembrie', 'March', 'diciembre', 'Jaanuar', 'julio', 'juni', 'junio', 'enero', 'augustus', 'November', 'maart', 'kolovoz', 'Fevereiro', 'marzo', 'Dezember', 'septembrie', 'janvier', 'iulie', 'juli', 'Janeiro', 'January', 'Aprill', 'June', 'Julho', 'september'}

In [33]:
#month names are in many diffrent languages
#using google and some EXCEL I made lists of months in every language, Ill add these lists to a dictionary
list1 = ['January','Januar','1','Januarie','يناير','януари','一月','siječanj','leden','januar','januari','January','tammikuu','janvier','Januar','Ιανουάριος','ינואר','január','gennaio','1月','1월','januar','styczeń','janeiro','ianuarie','январь','januari','január','januar','enero','Ocak','січень','tháng một']
list2 = ['February','Februar','2','Februarie','فبراير','февруари','二月','veljača','únor','februar','februari','February','helmikuu','février','Februar','Φεβρουάριος','פברואר','február','febbraio','2月','2월','februar','luty','fevereiro','februarie','февраль','februari','február','februar','febrero','Şubat','лютий','Tháng Hai']
list3 = ['March','März','3','Maart','مسيرة','март','三月','ožujak','březen','marts','maart','March','maaliskuu','mars','März','Μάρτιος','מרץ','március','marzo','3月','3월','mars','marzec','março','martie','март','mars','marec','marec','marzo','Mart','Березень','diễu hành']
list4 = ['April','April','4','April','أبريل','април','四月','travanj','duben','april','april','April','huhtikuu','avril','April','Απρίλιος','אפריל','április','aprile','4月','4월','april','kwiecień','abril','aprilie','апрель','april','apríl','april','abril','Nisan','Квітень','Tháng Tư']
list5 = ['May','Mai','5','Mei','قد','май','五月','svibanj','květen','maj','mei','May','saattaa','mai','Mai','Μάιος','מאי','május','maggio','5月','5월','mai','maj','maio','mai','май','maj','máj','maj','mayo','Mayıs','травень','có thể']
list6 = ['June','Juni','6','Junie','يونيو','юни','六月','lipanj','červen','juni','juni','June','kesäkuu','juin','Juni','Ιούνιος','יוני','június','giugno','6月','6월','juni','czerwiec','junho','iunie','июнь','juni','jún','junij','junio','Haziran','Червень','Tháng Sáu']
list7 = ['July','Juli','7','Julie','يوليو','юли','七月','srpanj','červenec','juli','juli','July','heinäkuu','juillet','Juli','Ιούλιος','יולי','július','luglio','7月','7월','juli','lipiec','julho','iulie','июль','juli','júl','julij','julio','Temmuz','Липень','Tháng Bảy']
list8 = ['August','August','8','Augustus','أغسطس','август','八月','kolovoz','srpen','august','augustus','August','elokuu','août','August','Αύγουστος','אוגוסט','augusztus','agosto','8月','8월','august','sierpień','agosto','august','август','augusti','august','avgust','agosto','Ağustos','Серпень','uy nghi']
list9 = ['September','September','9','September','سبتمبر','септември','九月','rujan','září','september','september','September','syyskuu','septembre','September','Σεπτέμβριος','ספטמבר','szeptember','settembre','9月','9월','september','wrzesień','setembro','septembrie','сентябрь','september','septembra','september','septiembre','Eylül','вересень','Tháng Chín']
list10 = ['October','Oktober','10','Oktober','أكتوبر','октомври','十月','listopad','říjen','oktober','oktober','October','lokakuu','octobre','Oktober','Οκτώβριος','אוקטובר','október','ottobre','10月','10월','oktober','październik','outubro','octombrie','октябрь','oktober','október','oktober','octubre','Ekim','Жовтень','Tháng Mười']
list11 = ['November','November','11','November','نوفمبر','ноември','十一月','studeni','listopad','november','november','November','marraskuu','novembre','November','Νοέμβριος','נובמבר','november','novembre','11月','11월','november','listopad','novembro','noiembrie','ноябрь','november','november','november','noviembre','Kasım','Листопад','Tháng Mười Một']
list12 = ['December','Dezember','12','Desember','ديسمبر','декември','十二月','prosinac','prosinec','december','december','December','joulukuu','décembre','Dezember','Δεκέμβριος','דצמבר','december','dicembre','12月','12월','desember','grudzień','dezembro','decembrie','декабрь','december','december','december','diciembre','Aralık','грудень','Tháng mười hai']
months_full_dict = {1:list1,2:list2,3:list3,4:list4,5:list5,6:list6,7:list7,8:list8,9:list9,10:list10,11:list11,12:list12}
months_dict = {1:list1[0],2:list2[0],3:list3[0],4:list4[0],5:list5[0],6:list6[0],7:list7[0],8:list8[0],9:list9[0],10:list10[0],11:list11[0],12:list12[0]}
#next Ill go over the months list and create a new list of every month in number. if the month doesnt exist, Ill put a "999" in its place, and later Ill filter out bad dates
numeric_month = []
for i in month:
  if i in list1:
    numeric_month.append(1)
  elif i in list2:
    numeric_month.append(2)
  elif i in list3:
    numeric_month.append(3)
  elif i in list4:
    numeric_month.append(4)
  elif i in list5:
    numeric_month.append(5)
  elif i in list6:
    numeric_month.append(6)
  elif i in list7:
    numeric_month.append(7)
  elif i in list8:
    numeric_month.append(8)
  elif i in list9:
    numeric_month.append(9)
  elif i in list10:
    numeric_month.append(10)
  elif i in list11:
    numeric_month.append(11)
  elif i in list12:
    numeric_month.append(12)
  else: 
    numeric_month.append(999999999999999999999)

#And sanity check:
len(numeric_month) == len(month) == len(year) == len(day)

True

In [34]:
#next Ill create a corrected list of all the dates
date_list = []
for i in range(0,len(numeric_month)):
  date_list.append(str(day[i])+ "/" + str(numeric_month[i]) +"/"+ str(year[i]))
len(date_list) # = 681284
#Now Ill remove defected dates
date_list1 = []
for i in date_list:
  if len(i)<=10:
    date_list1.append(i)
len(date_list1)

678337

In [35]:
#Lets create a list of the formatted dates
correct_dates = []
for i in date_list1:
  correct_dates.append(pd.to_datetime(i, format = '%d/%m/%Y'))

In [36]:
correct_dates
#and last, a list of all the weekdays
days_list_final = []
for i in correct_dates:
  days_list_final.append(days_list_final.append(i.day_name()))
set(days_list_final)#and a statistic result of how many tweets per day
posts_per_days_dict = {}
for i in days_list_final:
  if i != None:
    if posts_per_days_dict.get(i,0) ==0:
      posts_per_days_dict[i] = 1
    else:
      posts_per_days_dict[i] = posts_per_days_dict[i] + 1
posts_per_days_dict

{'Friday': 86514,
 'Monday': 116147,
 'Saturday': 64832,
 'Sunday': 93632,
 'Thursday': 105883,
 'Tuesday': 110923,
 'Wednesday': 100406}

# שאלה 3
חשבו כמה כתובות מייל חוקיות התפרסמו בכל קטגוריה של בלוגים

In [37]:
#Ill use a compile stracture to find all the emails in the text, and count them

def mail_adresses_counter(text):
  pattern = re.compile("[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+")
  new_text_list = pattern.findall(text)
  return len(new_text_list)
tweets['num_of_email_adresses'] = tweets.text.apply(mail_adresses_counter)

In [38]:
#now that I have a table with the amount of email adresses each wrote, I can use a groupby
tweets1 = tweets.groupby(tweets['topic'],as_index=False)['num_of_email_adresses'].sum()
tweets1

                      topic  num_of_email_adresses
0                Accounting                     34
1               Advertising                     36
2               Agriculture                      3
3              Architecture                     33
4                      Arts                    266
5                Automotive                      5
6                   Banking                     26
7                   Biotech                     79
8          BusinessServices                     73
9                 Chemicals                     33
10     Communications-Media                    328
11             Construction                     17
12               Consulting                     74
13                Education                    329
14              Engineering                     84
15              Environment                      2
16                  Fashion                     19
17               Government                     41
18           HumanResources                     26
19                 Internet                    394
20        InvestmentBanking                      0
21                      Law                     49
22  LawEnforcement-Security                     18
23            Manufacturing                      7
24                 Maritime                      4
25                Marketing                     66
26                 Military                     17
27        Museums-Libraries                     33
28               Non-Profit                    467
29               Publishing                     84
30               RealEstate                     15
31                 Religion                     46
32                  Science                     79
33        Sports-Recreation                     31
34                  Student                   1124
35               Technology                    296
36       Telecommunications                     42
37                  Tourism                     22
38           Transportation                     12
39                   indUnk                   2020

# שאלה 4
מיהם הבלוגרים שפרסמו בטקסטים שלהם הכי הרבה כתובות מייל

In [39]:
#Ill use my modified "tweets" table
tweets
#Ill group the table for a statistic table with sum of emails for each ID
tweets_groupby = tweets.groupby(["id"],as_index = False)['num_of_email_adresses'].sum().rename(columns={"num_of_email_adresses": "sum_of_emails_posted"})
tweets_groupby
max_amount = tweets_groupby['sum_of_emails_posted'].max()
published_most_emails = tweets_groupby[tweets_groupby.sum_of_emails_posted == max_amount]
published_most_emails

            id  sum_of_emails_posted
1803   1926378                   337
15934  4075390                   337

# שאלה 5
מצא את הנושא של הבלוג שמופיע בו המספר הארוך ביותר

In [40]:
#Ill create a function that will find the len of the longest number in the text
def longest_number_in_text(text):
  pattern = re.compile("[\d,]+")
  new_text_list = pattern.findall(text)
  longest_num = 0
  for i in new_text_list:
    if len(i) > len(str(longest_num)):
      longest_num = i
  return len(str(longest_num))
#and attach it to the table
tweets['longest_num_in_text'] = tweets.text.apply(longest_number_in_text)
#Than Ill filter the table on the max value
max_1 = tweets[tweets['longest_num_in_text']== max(tweets['longest_num_in_text'])]
topic = ""
for i in max_1.topic:
  topic = str(i)
#And final print
print("The topic of the blog with the longest number is: " + topic)

The topic of the blog with the longest number is: Student

In [41]:
#And for the actual text
for i in max_1.text:
  object = i
object

"           [Hi hi hi hi N hi. Good day. lalalala (ahhhh such sweet sound) the fiddler on the fucKin roof. Is that Mr Bentley Frankswell? Indeed it is.     Sup ppl, ya know, there's gotta be a first for everythin. first for this first for that. but if so, i never got first for anything else. i was more rather first from the bottom. N' Here i am on this com playin 'love is only a feelin by the darkness' and it just strikes me. millions of things strike me a day. out of these million, just one is enough to change everything that 'everything' would be to you. you wouldn't go about two blocks thinkin in ur head what this kid walkin right past u was thinkin. It would never hit you. Wouldn't it hit you... yea but even if it did what's the use, you can't do anything about it. There are so many things, so many questions being asked, so many truths to be seeked but really, there isn't actually that need.  All i ever wanted to do in my life was to enjoy time. Each second of time that melts into an entity of what we like to call life. It's really better just to not question anything. Cos u can't let it turn, you can't make anything else change, you'd still die one day, you'd still be afraid for the rest of ur life of just one single second of ur life - death. One short moment of pain for a life of Immortality. I think if u could actually see death...it'd be just soo awesome. what if u could see death? what if you could see that exact moment of death takin away what we love so much yet hate. what would it be like? Death... i mean..like wow. ]    That's just one of these many million of thoughts that go round inside my head each day. Millions of em' just like fireflies , like a dragonfly infestation like Spawning. And it goes like 'zzzzzzzzzzzzzzzzzz and ZZZZZZZZZZZ each time it passes my head it goes really loud just like______________________________________BAMPH*     ______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________  Hi, I'm tom. I'm your averege guy next door that plays soccer and listens to my mum. I take out the trash and bring in the papers every morning. I take my dog for walks. I have this crush on the girl next door. I'm really smart. I really like studying. Studying good for you. I'm going to become a scientist when i grow up. I have big dreams. I'm gonna invent things. I'm i'm i'm i'm i'm ____/\\i'mi'mmmmiiii'mmI'm_______________Obedient.Smart.Kind.Listen.To.Elders./\\/\\/\\___/\\/\\_/\\/\\________/\\_________/\\/\\/\\/\\/\\/\\/\\/\\/\\/\\/\\/\\/\\/\\/\\/\\/\\/\\\\7/\\/\\\\/\\\\///\\''/\\/\\\\/ /'''//3\\/\\43/\\\\/\\\\66678//\\/\\980`98283w82098-`09`-1jw1092219000011100000000111100100010000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000I'm0everything0that0was0the0opposite0of000everything000000there000000000000000000000000000000000000000000000000000000000000000111101010100001000001000000001010100000000000 010010100010011111101010101011111011101Smart.obedient.Listening.whoevever said we shld be that way?________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ __________________________0________________Hi. I'm tom. Your average guy next door.          "

# חלק ב
חייזרים בע"מ

In [42]:
# searching for the dataset
!kaggle datasets list -s ufo

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                            title                                              size  lastUpdated          downloadCount
-------------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
NUFORC/ufo-sightings                                           UFO Sightings                                      10MB  2019-11-13 19:45:57          25332
camnugent/ufo-sightings-around-the-world                       UFO Sightings around the world                      5MB  2017-08-15 15:46:17           2721
rishidamarla/ufo-sightings-approx-100000                       UFO Sightings (Approx. 90,000)                     38MB  2021-05-15 03:12:43            412
mysarahmadbhat/ufo-sightings                                   UFO Sightings                                       5MB  2021-08-09 17:19:17            126
thaddeussegura/ufo-sightings                                   ufo_sightings                                       7MB  2020-08-11 16:38:41            163
salmanfaroz/ufo-sightings-in-the-us                            UFO Sightings in the US                            35KB  2020-08-20 18:31:59            241
fireballbyedimyrnmom/ufo-sightings-1969-to-2019                UFO sightings 1969 to 2019                         75MB  2020-12-04 21:02:42            139
emorelli/consolidated-ufo-weather-data                         Consolidated UFO and Weather Data                   4MB  2018-05-16 20:06:50            641
leogenzano/clean-data-ufo                                      Clean Data UFO                                      5MB  2020-10-22 17:13:05             35
dwarika/ufo-datasets-the-truth-is-out-there                    UFO datasets, the truth is out there...           743KB  2020-12-28 13:04:54             58
karenfisher/updated-nuforc-ufo-sightings-dataset               Updated NUFORC UFO Sightings Dataset                3MB  2020-05-23 03:45:48             80
petrslamnk/ufo-sightings                                       UFO Sightings                                       5MB  2021-02-06 09:07:04             14
emohamed/ufo-sighting-full-description                         UFO_sighting_full_description                      37MB  2020-11-26 16:34:19             53
cavalryjim/ufo-sightings                                       ufo_sightings                                     195KB  2020-08-11 22:13:47             41
muhakabartay/production-cross-sections-of-inert-doublet-model  Production cross sections of Inert Doublet Model    3MB  2020-07-10 21:26:22             70
blunderfist/ufo-sightings                                      UFO sightings                                       6MB  2021-09-28 15:49:00              1
ajayrana/ufo-reports                                           ufo_reports                                       195KB  2017-11-04 12:43:02            286
hassanashfaq2001/ufo-dataset                                   UFO Dataset                                       356KB  2021-07-31 11:22:36              2
chandlerkaiden/ufo-data-nuforc                                 UFO Data - NUFORC                                   6MB  2021-09-12 19:09:29             18
akashdutta5/ufo-sightings                                      UFO sightings                                     239KB  2020-10-28 08:24:41             20

In [43]:
# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/ufo

# download the dataset from Kaggle and unzip it
!kaggle datasets download NUFORC/ufo-sightings     -f scrubbed.csv -p ./datasets/ufo/

mkdir: cannot create directory ‘./datasets’: File exists
mkdir: cannot create directory ‘./datasets/ufo’: File exists
scrubbed.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [44]:
#Unzip 
!unzip ./datasets/ufo/scrubbed.csv.zip  -d ./datasets/ufo/

Archive:  ./datasets/ufo/scrubbed.csv.zip
replace ./datasets/ufo/scrubbed.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [45]:
#create objects to work on (tables) - paste the link of the files from the folder in the left
ufo_table = pd.read_csv("/content/datasets/ufo/scrubbed.csv")
ufo_table
smaller_ufo_table1 = ufo_table[['city','state','country','comments','date posted','datetime']]
#lets go!
smaller_ufo_table1

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                       city state  ... date posted          datetime
0                san marcos    tx  ...   4/27/2004  10/10/1949 20:30
1              lackland afb    tx  ...  12/16/2005  10/10/1949 21:00
2      chester (uk/england)   NaN  ...   1/21/2008  10/10/1955 17:00
3                      edna    tx  ...   1/17/2004  10/10/1956 21:00
4                   kaneohe    hi  ...   1/22/2004  10/10/1960 20:00
...                     ...   ...  ...         ...               ...
80327             nashville    tn  ...   9/30/2013    9/9/2013 21:15
80328                 boise    id  ...   9/30/2013    9/9/2013 22:00
80329                  napa    ca  ...   9/30/2013    9/9/2013 22:00
80330                vienna    va  ...   9/30/2013    9/9/2013 22:20
80331                edmond    ok  ...   9/30/2013    9/9/2013 23:00

[80332 rows x 6 columns]

# שאלה 1
כתבו פונקציה המקבלת כקלט מדינה ושנה ומחזירה את מספר תצפיות העב"מים בה באותה השנה

In [58]:
#first Ill create a column of "year", "month" and "hour"
#smaller_ufo_table['full_date _text'].drop
smaller_ufo_table1['date'] = smaller_ufo_table1['datetime'].apply(lambda x :str(x)[:-6])
#smaller_ufo_table[smaller_ufo_table["datetime"].apply(lambda n: str(n))]
smaller_ufo_table1['year'] = pd.DatetimeIndex(smaller_ufo_table1['date']).year
smaller_ufo_table1['month'] = pd.DatetimeIndex(smaller_ufo_table1['date']).month
smaller_ufo_table1['hour'] = smaller_ufo_table1['datetime'].apply(lambda x :str(x)[-5:])
smaller_ufo_table1['comments_str'] = smaller_ufo_table1['comments'].apply(lambda x :str(x))
#Final cut of the data I need
smaller_ufo_table = smaller_ufo_table1[['country','comments_str','date','year','month','hour']].rename(columns = {'comments_str':'comments'})
#and Ill use the "month dict" from the 2nd question
#months_dict
smaller_ufo_table

      country                                           comments  ... month   hour
0          us  This event took place in early fall around 194...  ...    10  20:30
1         NaN  1949 Lackland AFB&#44 TX.  Lights racing acros...  ...    10  21:00
2          gb  Green/Orange circular disc over Chester&#44 En...  ...    10  17:00
3          us  My older brother and twin sister were leaving ...  ...    10  21:00
4          us  AS a Marine 1st Lt. flying an FJ4B fighter/att...  ...    10  20:00
...       ...                                                ...  ...   ...    ...
80327      us  Round from the distance/slowly changing colors...  ...     9  21:15
80328      us  Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...  ...     9  22:00
80329      us                                       Napa UFO&#44  ...     9  22:00
80330      us  Saw a five gold lit cicular craft moving fastl...  ...     9  22:20
80331      us  2 witnesses 2  miles apart&#44 Red &amp; White...  ...     9  23:00

[80332 rows x 6 columns]

In [47]:
#The function gets a country name and the year and returns how many ufo meetings accured
country = str(input("Enter a country name:"))
year = int(input("Enter the requaired year:"))
def ufo_sights(country,year):
  counter = 0 
  #First Ill create a table of the filtered data
  filtered_table1 = smaller_ufo_table[smaller_ufo_table["country"].apply(lambda n: country == n)] 
  filtered_table = filtered_table1[filtered_table1["year"].apply(lambda n: year == n)]
  country_year = []
  for i in filtered_table.year:
    country_year.append(i)
  for i in filtered_table.country:
    country_year.append(i)
  #Input check
  if country not in country_year:
    return "      !!!No ufo sights in this country, please try again!!!"
  if year not in country_year:
    return "      !!!No ufo sights on this year, please try again!!!"
  #than Ill count the number of rows I have using a counter a a loop on the table
  for I in filtered_table.year:
    counter = counter + 1
  return counter
print(f'The number of UFO sights in ' + str(country.upper()) +' on '+ str(year)+ ' is: ' + str(ufo_sights(country,year)))

Enter a country name:us
Enter the requaired year:1949
The number of UFO sights in US on 1949 is: 15

# שאלה 2
מצא את החודש בשנה בו נצפו הכי הרבה עב"מים

In [48]:
#Ill group the ufo table to count how many encouters per month' and find the max value
smaller_ufo_table_groupby = smaller_ufo_table.groupby(smaller_ufo_table['month'],as_index = False)['year'].count().rename(columns = {'year':'count'})
max_value = smaller_ufo_table_groupby['count'].max()
max_views_month = smaller_ufo_table_groupby[(smaller_ufo_table_groupby['count'] == max_value)]
#Ill extract the month number into a parameter,than hash it to teh dictionary to find its name
sight_month = max_views_month['month'].max()
print('The month with the most UFO sights is: ' + str(months_dict[sight_month]))

The month with the most UFO sights is: July

# שאלה 3
מצא את השעה ביום שבה נצפו הכי הרבה עב"מים

In [49]:
#Since I already have a table with that Info, Ill just pull it out to a list for a priper sort and display
encouners_hours = []
encounters_hours_dict = {}
#Ill use a dictionary to count how many times each hour appears
for i in smaller_ufo_table.hour:
  encouners_hours.append(int(i[0:2]))
for i in encouners_hours:
  if encounters_hours_dict.get(i,0) == 0:
    encounters_hours_dict[i] = 1
  else:
    encounters_hours_dict[i] = encounters_hours_dict[i] + 1
#Ill find the max value
ufo_friendly_hour = []
for key in encounters_hours_dict.keys():
  if encounters_hours_dict[key] == max(encounters_hours_dict.values()):
    ufo_friendly_hour.append(key) 
#And set  nice print for it
ufo_friendly_hour_final = ""
if ufo_friendly_hour[0] > 11:
  ufo_friendly_hour_final = str(ufo_friendly_hour[0]) +'PM'
else:
  ufo_friendly_hour_final = str(ufo_friendly_hour[0]) + 'AM'
print('The hour with the most UFO sights is: ' + ufo_friendly_hour_final)

The hour with the most UFO sights is: 21PM

# שאלה 4
מצא את ההערה בעלת הכי הרבה זוגות מילים, כאשר על כל אחת מהמילים להיות באורך 7 אותיות לפחות

In [54]:
text = "this is abcdefgh ground control abcdefgh to majorrrr 123 majorrrr 8376jsmdn tom abcdefgh abcdefgh"
#First Ill define a function that gats astring and returns how many word couples are in it, with 7 letters or more
#a couple - each word with another word identical to it, no duplicates
def word_couples_in_text(text):
  pattern = re.compile('[a-zA-Z]+')
  new_text_list = pattern.findall(text)
  long_text_list = []
  for i in new_text_list:
    if len(i) >7:
      long_text_list.append(i)
  index = 1
  counter = 0
  couples_list = []
  for i in long_text_list:
    for j in long_text_list[index:len(new_text_list)]:
      if i == j:
        counter = counter + 1
    if counter > 0:
      couples_list.append(counter)
    counter = 0
    index = index + 1
  return sum(couples_list)

#print(word_couples_in_text(text))

7

In [63]:
#Next Ill create a column of how many couples are in the text
smaller_ufo_table['pairs in the text'] = smaller_ufo_table.comments.apply(word_couples_in_text)
smaller_ufo_table
max_value = smaller_ufo_table['pairs in the text'].max()
max_pairs = smaller_ufo_table[(smaller_ufo_table['pairs in the text'] == max_value)]
max_pairs

      country  ... pairs in the text
11530      us  ...                 3
16159      us  ...                 3
17803      us  ...                 3
38120      ca  ...                 3
39177      us  ...                 3
39317      us  ...                 3
41586      us  ...                 3
46428      us  ...                 3
50730      us  ...                 3
55892     NaN  ...                 3
55909      us  ...                 3
57799      us  ...                 3
60019      us  ...                 3
61301      us  ...                 3
61486      us  ...                 3
65751      gb  ...                 3
68527      us  ...                 3
70538      us  ...                 3

[18 rows x 7 columns]

# שאלה 5
מצא את המדינות בהן הופיעו בהערות הכי הרבה מספרים בני 6 ספרות

# שאלה 6
מצא את כל העדויות שבהערה שלהן מופיעה לפחות מילה אחת מהתבנית של שתי אותיות, ספרה ועוד אות אחת, הכל מחובר.